<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MyLIB</title>
	</head>
	<body>
		Supp
		<br />
		<%- body %>
		<br />
		yeyeyeey
	</body>
</html>
